* {
    box-sizing: border-box;
}

.container {
    padding: 50px;
    margin: 0 auto;
    width: 1000px;
}
.tab-select {
    padding: 20px;
    display: flex;
    column-gap: 20px;
    flex-direction: column;
    gap: 20px;
}
.tab-content {
    margin-top: 20px;
}