* {
    box-sizing: border-box;
}

.container {
    padding: 50px;
    margin: 0 auto;
    width: 1000px;
}
.tab-select {
    padding: 20px;
    display: flex;
    column-gap: 20px;
    flex-direction: column;
    gap: 20px;
}
.tab-content {
    margin-top: 20px;
}
/*.notification {*/
/*    !*position: fixed;*!*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    padding: 10px;*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    border-radius: 5px;*/
/*}*/